@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: #1f2937; /* text-gray-800 */
}

.heading {
  font-family: "Cormorant Garamond", serif;
}
