@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: #1f2937;
}

.dark body {
  background-color: #111827;
  color: #f9fafb;
}

.heading {
  font-family: "Cormorant Garamond", serif;
}
